@use "/src/styles/function" as *;
@use "/src/styles/styles" as *;

.memoir-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    border: $border;
    border-radius: rem(10px);
    padding: rem(5px);
    overflow-y: auto;
    min-height: 0;
    gap: rem(30px);

    hr {
        margin: 0;
    }

    .edit-text {
        width: 100%;
        height: rem(60px);
        text-align: center;
    }
}
