@use "/src/styles/function" as *;
@use "/src/styles/styles" as *;

.memoir-div {
    @include flex-center;
    flex-direction: column;
    width: rem(1280px);
    text-align: left;

    .memoir-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: rem(562px);
        overflow-y: auto;
        border: rem(1px) solid black;
        padding: rem(5px);
        gap: rem(5px);
    }

    hr {
        margin: rem(10px) 0;
    }

    .edit-text {
        width: 100%;
        height: rem(60px);
        text-align: center;
    }
}
