@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;

.login-section {
    height: 100%;
    @include flex-center;

    .login-article {
        width: rem(600px);
        display: flex;
        flex-direction: column;
        gap: rem(30px);
        padding: rem(20px);

        h2 {
            margin-bottom: rem(30px);
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: rem(30px);

            input {
                height: rem(60px);
            }

            button {
                height: rem(60px);
            }
        }

        .login-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                font-size: rem(24px);
                color: $black-color;
                text-decoration: none;
            }
        }

        .kakao-login-btn {
            height: rem(60px);
            border-radius: rem(12px);
            background-color: $kakao-background-color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 rem(28px);

            img {
                width: rem(36px);
                height: rem(36px);
            }

            span {
                flex: 1;
                font-size: rem(30px);
                color: $kakao-text-color;
                text-decoration: none;
            }
        }
    }
}
