@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;
@use "/src/component/memoir/memoirStyle" as *;

.memoir-section {
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    padding: 0 rem(175px);
    gap: rem(30px);

    .memoir-top {
        margin-top: rem(40px);
        .memoir-main-title {
            font-size: $title-font-size;
        }
    }

    .memoir-middle {
        @include column-flex-box;
        width: 100%;
        gap: rem(10px);
        min-height: 0;

        .sub-title {
            width: 100%;
            text-align: left;
        }

        .progress-circles {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: rem(10px);
            gap: rem(5px);

            div {
                width: rem(10px);
                height: rem(10px);
                border: rem(1px) solid gray;
                border-radius: rem(10px);
            }

            .memoir-first-circle {
                background-color: gray;
            }
        }
    }

    .memoir-bottom {
        display: flex;
        width:100%;
        height: rem(120px);
        justify-content: flex-end;
        align-items: center;
        gap: rem(10px);

        .memoir-btn {
            width: rem(200px);
            height: rem(40px);
            font-size: rem(15px);
            border-radius: rem(10px);
        }
    }
}
