@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;
@use "/src/component/memoir/memoirStyle" as *;
.memoir-section {
    .memoir-middle{
        .content-box {
            @include row-flex-box;
            gap: rem(10px);

            .sub-box {
                @include column-flex-box;
                gap: rem(10px);

                textarea {
                    resize: none;
                }
            }

            .improvement-editor {
                width: rem(625px);
                height: rem(562px);
                border: rem(1px) solid black;
                resize: none;
            }
        }

        .progress-circles {
            .improvement-second-circle {
                background-color: gray;
            }
        }
    }
}
